In [1]:
#Importing required libraries
import json
import snscrape.modules.twitter as sntwitter
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re  
import numpy as np
import spacy
from spacy import displacy
from collections import Counter
import en_core_web_sm
import tweepy
from textblob import TextBlob
import re
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

## Below code used to get the 50000 tweets for both Bitcoin & Ethereum & Saved them into JSON

In [2]:
#Tweet_limits = 50000

#tweet_list = [] #Creating list to append tweet data to

#for i,tweet in enumerate(sntwitter.TwitterSearchScraper('ethereum since:2020-03-21 until:2022-04-30').get_items()):
#    if i>Tweet_limits:
#        break
#    tweet_list.append([tweet.date, tweet.id, tweet.content, tweet.username])

In [3]:
#with open('ethereumtweet.json','w') as f:
#    json.dump(tweet_list,f, default=str)

## Going forward, we will do our analysis using the json files only.

In [4]:
#reading bitcoin tweets and ethereum tweets json into datafram

df = pd.read_json('bitcointweets.json')
df2 = pd.read_json('ethereumtweets.json')
df.head()

,0,1,2,3
0,2022-04-29 23:59:58+00:00,1520191193321295872,#Bitcoin (#BTC) Price Update:\n \nPrice: $3...,cr_bitcoin
1,2022-04-29 23:59:58+00:00,1520191192243265536,Bitcoin price index https://t.co/o7UcHJUhC6 #U...,WorldCoinIndex
2,2022-04-29 23:59:58+00:00,1520191191098265608,#silver ape alert emergency update. Jump in : ...,AMoneyfest
3,2022-04-29 23:59:56+00:00,1520191181937954817,The Dilemma Faced by All Beginners in the Bitc...,pilscoop
4,2022-04-29 23:59:55+00:00,1520191176854454273,#Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...,LivePriceCrypto

In [5]:
df2.head()

,0,1,2,3
0,2022-04-29 23:59:56+00:00,1520191181547884544,I know it may not feel like it but this is the...,win9999win
1,2022-04-29 23:59:55+00:00,1520191176854454273,#Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...,LivePriceCrypto
2,2022-04-29 23:59:49+00:00,1520191152128937992,You know whose been swimming with their trunks...,ManagerMr1
3,2022-04-29 23:59:44+00:00,1520191133019684864,How much #Ethereum should one pleb own? 1 whol...,NatePolmateer
4,2022-04-29 23:59:28+00:00,1520191067420823553,Culpower found #ethereum in a User vault at th...,Culpower

In [6]:
#Changing the name of the columns as needed for bitcoin

df.rename(columns = {0:'Datetime'}, inplace = True)
df.rename(columns = {1:'Tweet_id'}, inplace = True)
df.rename(columns = {2:'Tweet'}, inplace = True)
df.rename(columns = {3:'User'}, inplace = True)

In [7]:
#Changing the name of the columns as needed for ethereum

df2.rename(columns = {0:'Datetime'}, inplace = True)
df2.rename(columns = {1:'Tweet_id'}, inplace = True)
df2.rename(columns = {2:'Tweet'}, inplace = True)
df2.rename(columns = {3:'User'}, inplace = True)

In [8]:
df.head()

,Datetime,Tweet_id,Tweet,User
0,2022-04-29 23:59:58+00:00,1520191193321295872,#Bitcoin (#BTC) Price Update:\n \nPrice: $3...,cr_bitcoin
1,2022-04-29 23:59:58+00:00,1520191192243265536,Bitcoin price index https://t.co/o7UcHJUhC6 #U...,WorldCoinIndex
2,2022-04-29 23:59:58+00:00,1520191191098265608,#silver ape alert emergency update. Jump in : ...,AMoneyfest
3,2022-04-29 23:59:56+00:00,1520191181937954817,The Dilemma Faced by All Beginners in the Bitc...,pilscoop
4,2022-04-29 23:59:55+00:00,1520191176854454273,#Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...,LivePriceCrypto

In [9]:
df2.head()

,Datetime,Tweet_id,Tweet,User
0,2022-04-29 23:59:56+00:00,1520191181547884544,I know it may not feel like it but this is the...,win9999win
1,2022-04-29 23:59:55+00:00,1520191176854454273,#Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...,LivePriceCrypto
2,2022-04-29 23:59:49+00:00,1520191152128937992,You know whose been swimming with their trunks...,ManagerMr1
3,2022-04-29 23:59:44+00:00,1520191133019684864,How much #Ethereum should one pleb own? 1 whol...,NatePolmateer
4,2022-04-29 23:59:28+00:00,1520191067420823553,Culpower found #ethereum in a User vault at th...,Culpower

In [10]:
# Dropping all the data but tweets from bitcoin dataframe

df.drop('Tweet_id', inplace=True, axis=1)
df.drop('User', inplace=True, axis=1)

In [11]:
# Dropping all the data but tweets from ethereum dataframe

df2.drop('Tweet_id', inplace=True, axis=1)
df2.drop('User', inplace=True, axis=1)

In [12]:
df.head()

,Datetime,Tweet
0,2022-04-29 23:59:58+00:00,#Bitcoin (#BTC) Price Update:\n \nPrice: $3...
1,2022-04-29 23:59:58+00:00,Bitcoin price index https://t.co/o7UcHJUhC6 #U...
2,2022-04-29 23:59:58+00:00,#silver ape alert emergency update. Jump in : ...
3,2022-04-29 23:59:56+00:00,The Dilemma Faced by All Beginners in the Bitc...
4,2022-04-29 23:59:55+00:00,#Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...

In [13]:
df2.head()

,Datetime,Tweet
0,2022-04-29 23:59:56+00:00,I know it may not feel like it but this is the...
1,2022-04-29 23:59:55+00:00,#Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...
2,2022-04-29 23:59:49+00:00,You know whose been swimming with their trunks...
3,2022-04-29 23:59:44+00:00,How much #Ethereum should one pleb own? 1 whol...
4,2022-04-29 23:59:28+00:00,Culpower found #ethereum in a User vault at th...

In [14]:
# Inserting currency Column into bitcoin dataframe
df.insert(0, 'Currency', 'Bitcoin')

In [15]:
# Inserting currency Column into ethereum dataframe
df2.insert(0, 'Currency', 'Ethereum')

In [16]:
df.head()

,Currency,Datetime,Tweet
0,Bitcoin,2022-04-29 23:59:58+00:00,#Bitcoin (#BTC) Price Update:\n \nPrice: $3...
1,Bitcoin,2022-04-29 23:59:58+00:00,Bitcoin price index https://t.co/o7UcHJUhC6 #U...
2,Bitcoin,2022-04-29 23:59:58+00:00,#silver ape alert emergency update. Jump in : ...
3,Bitcoin,2022-04-29 23:59:56+00:00,The Dilemma Faced by All Beginners in the Bitc...
4,Bitcoin,2022-04-29 23:59:55+00:00,#Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...

In [17]:
df2.head()

,Currency,Datetime,Tweet
0,Ethereum,2022-04-29 23:59:56+00:00,I know it may not feel like it but this is the...
1,Ethereum,2022-04-29 23:59:55+00:00,#Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...
2,Ethereum,2022-04-29 23:59:49+00:00,You know whose been swimming with their trunks...
3,Ethereum,2022-04-29 23:59:44+00:00,How much #Ethereum should one pleb own? 1 whol...
4,Ethereum,2022-04-29 23:59:28+00:00,Culpower found #ethereum in a User vault at th...

In [18]:
#Changing Datetime datatype from object to datetime

df['Datetime'] = pd.to_datetime(df['Datetime'], errors = 'coerce')
df2['Datetime'] = pd.to_datetime(df2['Datetime'], errors = 'coerce')

In [19]:
#Keeping only dates in Datetime column and removing time stamp

df['Date'] = [d.date() for d in df['Datetime']]
df2['Date'] = [d.date() for d in df2['Datetime']]

In [20]:
# dropping datetime column containing both date and time as Date Column already created

df.drop('Datetime', inplace=True, axis=1)
df2.drop('Datetime', inplace=True, axis=1)

In [21]:
df.head()

  Currency                                              Tweet        Date
0  Bitcoin  #Bitcoin (#BTC) Price Update:\n    \nPrice: $3...  2022-04-29
1  Bitcoin  Bitcoin price index https://t.co/o7UcHJUhC6 #U...  2022-04-29
2  Bitcoin  #silver ape alert emergency update. Jump in : ...  2022-04-29
3  Bitcoin  The Dilemma Faced by All Beginners in the Bitc...  2022-04-29
4  Bitcoin  #Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...  2022-04-29

In [22]:
df2.head()

   Currency                                              Tweet        Date
0  Ethereum  I know it may not feel like it but this is the...  2022-04-29
1  Ethereum  #Bitcoin Last Price $38575 #BTC ðŸš€\nDaily Indic...  2022-04-29
2  Ethereum  You know whose been swimming with their trunks...  2022-04-29
3  Ethereum  How much #Ethereum should one pleb own? 1 whol...  2022-04-29
4  Ethereum  Culpower found #ethereum in a User vault at th...  2022-04-29

In [23]:
# Cleaning the data from #,link,spcial unwanted symbols, etc....

def cleanTwt(twt):
    twt = re.sub('#', '', twt)
    #twt = re.sub('#Bitcoin', 'Bitcoin', twt)
    twt = re.sub('#[A-Za-z0-9]', '', twt)
    twt = re.sub('\\n', '', twt)
    twt = re.sub('https?:\/\/\S+', '', twt)
    twt = re.sub("@[A-Za-z0-9]+","",twt)
    twt = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", twt)
    twt = " ".join(twt.split())
    #twt = twt.replace("#", "").replace("", " ")
    return twt

In [24]:
#Applying the clean function to dataframes for both bitcoin and ethereum

df['Clean_Tweets'] = df['Tweet'].apply(cleanTwt)
df2['Clean_Tweets'] = df2['Tweet'].apply(cleanTwt)

In [25]:
#dropping tweet column as we will analyse only the cleaned tweets now

df.drop('Tweet', inplace=True, axis=1)
df2.drop('Tweet', inplace=True, axis=1)

In [26]:
df.head()

  Currency        Date                                       Clean_Tweets
0  Bitcoin  2022-04-29  Bitcoin (BTC) Price Update: Price: $38,651Last...
1  Bitcoin  2022-04-29            Bitcoin price index USD EUR CNY GBP RUB
2  Bitcoin  2022-04-29  silver ape alert emergency update. Jump in : L...
3  Bitcoin  2022-04-29  The Dilemma Faced by All Beginners in the Bitc...
4  Bitcoin  2022-04-29  Bitcoin Last Price $38575 BTC ðŸš€Daily Indicator...

In [27]:
df2.head()

   Currency        Date                                       Clean_Tweets
0  Ethereum  2022-04-29  I know it may not feel like it but this is the...
1  Ethereum  2022-04-29  Bitcoin Last Price $38575 BTC ðŸš€Daily Indicator...
2  Ethereum  2022-04-29  You know whose been swimming with their trunks...
3  Ethereum  2022-04-29  How much Ethereum should one pleb own? 1 whole...
4  Ethereum  2022-04-29  Culpower found ethereum in a User vault at thi...

In [28]:
df.shape

(42913, 3)

In [29]:
df2.shape

(50001, 3)

In [30]:
# understanding polarity and Subjectivity of the tweets

def getSubjectivity(twt):
    return TextBlob(twt).sentiment.subjectivity

def getPolarity(twt):
    return TextBlob(twt).sentiment.polarity

In [ ]:
#creating subjectivity and polarity columns into the dataframe and applying function

df['Subjectivity'] = df['Clean_Tweets'].apply(getSubjectivity)

df['Polarity'] = df['Clean_Tweets'].apply(getPolarity)



df2['Subjectivity'] = df2['Clean_Tweets'].apply(getSubjectivity)

df2['Polarity'] = df2['Clean_Tweets'].apply(getPolarity)

In [ ]:
df.head()

In [ ]:
df2.head()

In [ ]:
#defining sentiment analysis function

def Sentiment(marks):
    if marks < 0:
        return 'Negative'
    elif marks == 0:
        return 'Neutral'
    else:

        return 'Positive'

In [ ]:
#creating sentiment column and applying function

df['Sentiments'] = df['Polarity'].apply(Sentiment)
df2['Sentiments'] = df2['Polarity'].apply(Sentiment)

In [ ]:
df.head()

In [ ]:
df2.head()

In [ ]:
#Merging both the dataframes (bitcoin and ethereum) into one dataframe

merged_df = pd.concat([df, df2], ignore_index=True)

In [ ]:
merged_df.shape

In [ ]:
merged_df.head()

In [ ]:
merged_df.tail()

In [ ]:
#Bar plot for ethereum

merged_df[merged_df['Currency'] == 'Ethereum']['Sentiments'].value_counts().plot(kind = 'bar')

In [ ]:
#Bar plot for bitcoin

merged_df[merged_df['Currency'] == 'Bitcoin']['Sentiments'].value_counts().plot(kind = 'bar')

In [ ]:
#Plotting scatter plot between Polarity and Subjectivity


#plt.figure(figsize = (8,6))
#for i in range(0, df.shape[0]):
#    plt.scatter(df['Polarity'][i], df['Subjectivity'],[i],color='Blue')
#plt.show()

In [ ]:
#reading crypto price data using json file and saving into dataframe

df3 = pd.read_json('crypto.json')
df3.head()

In [ ]:
# merging crypto price dataframe and tweet daraframe into one dataframe

check = pd.concat([df3, merged_df], ignore_index=True)

In [ ]:
check.head()

In [ ]:
# replacing missing values for required text. It will help us in filtering purpose while analysing the data

check['MarketCap'] = check['MarketCap'].replace(np.NaN, 'Tweet Data')
check['Volume'] = check['Volume'].replace(np.NaN, 'Tweet Data')
check['Open'] = check['Open'].replace(np.NaN, 'Tweet Data')
check['Close'] = check['Close'].replace(np.NaN, 'Tweet Data')
check['7D_SMA'] = check['7D_SMA'].replace(np.NaN, 'Tweet Data')
check['20D_SMA'] = check['20D_SMA'].replace(np.NaN, 'Tweet Data')
check['50D_SMA'] = check['50D_SMA'].replace(np.NaN, 'Tweet Data')
check['100D_SMA'] = check['100D_SMA'].replace(np.NaN, 'Tweet Data')
check['Close_INR'] = check['Close_INR'].replace(np.NaN, 'Tweet Data')
check['Close_EUR'] = check['Close_EUR'].replace(np.NaN, 'Tweet Data')
check['Close_JPY'] = check['Close_JPY'].replace(np.NaN, 'Tweet Data')
check['Close_GBP'] = check['Close_GBP'].replace(np.NaN, 'Tweet Data')
check['Close_CAD'] = check['Close_CAD'].replace(np.NaN, 'Tweet Data')
check['Close_DKK'] = check['Close_DKK'].replace(np.NaN, 'Tweet Data')


check['Clean_Tweets'] = check['Clean_Tweets'].replace(np.NaN, 'Price Data')
check['Subjectivity'] = check['Subjectivity'].replace(np.NaN, 'Price Data')
check['Polarity'] = check['Polarity'].replace(np.NaN, 'Price Data')
check['Sentiments'] = check['Sentiments'].replace(np.NaN, 'Price Data')

In [ ]:
check.head()

In [ ]:
check.tail()

In [ ]:
# saving bitcoin tweet data in a single dataframe

check_bitcoin_tweetdata = check[check['Currency'] == 'Bitcoin']
check_bitcoin_tweetdata = check_bitcoin_tweetdata[check_bitcoin_tweetdata['MarketCap'] == 'Tweet Data']

In [ ]:
check_bitcoin_tweetdata.head()

In [ ]:
check_bitcoin_tweetdata.tail()

In [ ]:
#Bar plot for bitcoin

check_bitcoin_tweetdata['Sentiments'].value_counts().plot(kind = 'bar')

In [ ]:
# Defining CAGR function which will help in calculating the CAGR

def CAGR(start, end, time):
    Growth_Rate = (end/start)**(1/time)-1
    return Growth_Rate

In [ ]:
df3.head(2)

In [ ]:
#Saving bitcoin data into one file

df_bitcoin = df3[df3['Currency'] == 'bitcoin']
df_bitcoin.head()

In [ ]:
#Saving ethereum data into one file

df_ethereum = df3[df3['Currency'] == 'ethereum']
df_ethereum.head()

In [ ]:
df_ethereum.tail()

In [ ]:
#Extracting Close price data for a particular date

start_btc = float(df_bitcoin.Close[df_bitcoin.Date == '2020-04-30'])
start_eth = float(df_ethereum.Close[df_ethereum.Date == '2020-04-30'])
print(start_eth)
print(start_btc)

In [ ]:
#Extracting Close price data for a particular date

end_btc = float(df_bitcoin.Close[df_bitcoin.Date == '2022-05-01'])
end_eth = float(df_ethereum.Close[df_ethereum.Date == '2022-05-01'])
print(end_eth)
print(end_btc)

In [ ]:
#Calculating CAGR for ethereum in the last 2 years

eth_CAGR = CAGR(start_eth, end_eth, 2)
btc_CAGR = CAGR(start_btc, end_btc, 2)

print('Etherium grows with a CAGR of {:.2%}'.format(eth_CAGR))
print('Bitcoin grows with a CAGR of {:.2%}'.format(btc_CAGR))

In [ ]:
# Defining forcast function 

def forecast(end, CAGRr, years):
    forc = end + (1+CAGRr)**years
    return forc

In [ ]:
# forcasting ethereum price in next 6 years based on CAGR calculated

years = 6

print('Forcast for ethereum in 6 years time', forecast(end_eth, eth_CAGR, years))
print('Forcast for bitcoin in 6 years time', forecast(end_btc, btc_CAGR, years))